/* 폰트관련 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


/* 주색을 설정해서 쓸때 */
/* :root {
    --mc: #886034;
}
p {
    color: var(--mc);
} */


body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 시각장애인분들 텍스트 보이게 하는 것 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 전역으로 쓸것들 */
.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* 그냥 bg쓰는것보다 앞에 붙어잇는게 나음 */
.dbg {
    background: #f9f9f9;
}

p {
    font-size: 16px;
    line-height: 20px;
}